.defualt{
background-color: aquamarine;
}
.bg1{
    color: blue;
    background-color: aqua;
    
}
.bg2{
    color:green;
    background-color:brown;
    text-align: center;
    font-size: 20px;
    
    font-weight: bold;
}